<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-inner">
      <div class="footer-social">
        <h2 class="footer-heading">Follow me on Socials!</h2>
        <div class="footer-social-icons">
          {%- include social.html -%}
        </div>
      </div>

      <div class="footer-meta">
        {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
        {%- if site.copyright -%}
        <span class="footer-copyright">&copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}</span>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
