<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper"> 
    <h2 class="footer-heading">Follow me on Socials!</h2>
    {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
    {%- endif -%}
    <div class="footer-col footer-col-1">
      {%- include social.html -%}
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
            {%- if site.copyright -%}
            &copy; {{site.copyright}} {{'now' | date: "%Y"}}
            {%- endif -%}
        </ul>
      </div>
    </div>

  </div>

</footer>
