---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<!-- Google fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      <div class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}" style="border: 2px solid; border-radius: 8px; border-color:cadetblue; color:cadetblue; font-size: small; padding: 3px;">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

<!--  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%} -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
